h1 { color: red;}

body {
	background: lightgreen;
	color: navy;
	font-size: 16;
	font-family: 'Arvo', serif;
	
ul { 
	border: 2px solid black;
	padding: 10px;
	margin: 20px;
	background: white;
	 }

